# Android
android/
build/

# iOS
ios/
Pods/
*.xcworkspace/
*.xcodeproj/

# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
/.idea
.DS_Store
*.iml

# Visual Studio Code
.vscode/
*.code-workspace

# Android Studio
*.iml
.idea/
.gradle/
/captures/

# IntelliJ
*.iml
.idea/
/*.ipr
/*.iws
/*.ids
/out/

# Testes
test_reports/
